/* FONTS */
/* font-family: 'Lato', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  --red: #d32121;
  --pink: #ed8d8d;
  --light-pink: #ffe2e2;
  --grey: #3c4048;
  --light-grey: #aaa;

  --container-desktop: 80%;
  --container-tablet: 85%;
  --container-mobile: 90%;

  --transition: all 0.4s ease;
  --shadow: 0 1rem 2rem rgba(0 0 0/ 0.3);
}

/* --------------- RESETS -------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a,
a:link,
a:visited {
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  font-family: inherit;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}
button::-moz-focus-outer,
button:active {
  outline: none;
  border: 0;
  padding: 0;
}

img {
  width: 100%;
}

ul,
ol {
  list-style: none;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* -------------------- GENERAL ------------------ */
body {
  color: var(--grey);
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.4;
}

h1,
h2,
h4 {
  text-transform: capitalize;
  letter-spacing: 2px;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

h4 {
  color: var(--red);
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

p {
  color: var(--grey);
}

/* button */
.frame {
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  border: 2.5px solid var(--grey);
  transform: translate(6px, 6px);
  position: relative;
  margin-top: 3rem;
}

.btn {
  background-color: var(--grey);
  border-radius: 3px;
  padding: 1rem;
  transition: var(--transition);
}

.btn a {
  color: var(--light-pink);
}

/* animation for specific buttons */
.welcome-section-btn,
.project-btn {
  transform: translate(-6px, -6px) scale(1.05);
  transition: var(--transition);
}
@media (hover: hover) and (pointer: fine) {
  .welcome-section-btn:hover,
  .project-btn:hover {
    transform: translate(-0.5px, 0.5px) scale(1.05);
  }
}

/* section & container */
.section-bg {
  background-color: var(--light-pink);
}

.container {
  width: var(--container-desktop);
  padding: 3rem 0 7rem;
  margin: 0 auto;
}

/* -------------------- NAVBAR ------------------ */
.welcome-section {
  min-height: 100vh;
  /* position: relative; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.nav-list {
  display: flex;
  gap: 1.5rem;
  z-index: 100;
}

.nav-link {
  color: var(--grey);
  padding: 5px;
}

.nav-link:hover {
  background-color: var(--grey);
  color: var(--light-pink);
}

/* DROP-DOWN MENU */
.drop-down-open,
.drop-down-close {
  display: none;
  position: absolute;
  top: 29px;
  right: 7%;
  z-index: 11;
}

.uil {
  color: var(--grey);
  border: none;
  font-size: 3rem;
  font-weight: 700;

  position: relative;
}
/* -------------------- HEADER ------------------ */
header {
  width: 80%;
  transform: translateY(30%);
}

.heading-1 {
  margin-bottom: 2.5rem;
}

.highlight {
  display: inline-block;
  padding: 0.2rem;
  /* color: inherit; */
  font-weight: 400;
  color: var(--red);
  background-color: rgba(240, 245, 12, 0.6);
  transform: skewX(-13deg);
}

/* -------------------- PROJECTS ------------------ */
.projects-container {
  width: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 0 auto;
  position: relative;
}
.slide-card {
  display: grid;
  grid-template-columns: 30% calc(70% - 3rem);
  gap: 3rem;
  place-items: center stretch;
}

.slider-btn {
  width: 3rem;
  position: absolute;
}
.carousel-control-prev {
  left: -6.5%;
}
.carousel-control-next {
  right: -6.5%;
}
.carousel-control-prev-icon {
  background-image: url(imgs/left-arrow.png);
}
.carousel-control-next-icon {
  background-image: url(imgs/right-arrow.png);
}

.carousel-item {
  font-family: inherit;
}

/* -------------------- SKILLS ------------------ */

/* ----------- Additional Notable Projects ------------ */
.additional-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.project-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  gap: 4rem;
}
.card {
  flex-basis: 27rem;
  height: 20rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: var(--shadow);
  position: relative;
  transition: var(--transition);
}

.card-img {
  width: 23rem;
  align-self: center;
  height: fit-content;
  position: absolute;
  top: -2rem;
  box-shadow: var(--shadow);
}
.card-content {
  text-align: center;
  visibility: hidden;
  opacity: 0;
}

.card-content p {
  margin-bottom: 2rem;
  transition: var(--transition);
}

.card:hover {
  height: 43rem;
}
.card:hover .card-content {
  visibility: visible;
  opacity: 1;
  margin-top: 16rem;
  transition-delay: 0.3s;
}

/* -------------------- CONTACTS ------------------ */
.contact-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.contact-me-content {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}
.icons {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}
.icon {
  width: 35px;
  margin-right: 2rem;
  transition: all 0.3s;
}
.icon:hover {
  transform: translateY(-3px) scale(1.05);
}

.mail {
  display: inline-block;
  padding: 5px;
  color: var(--grey);
  font-size: 1.5rem;
  border-radius: 2px;
}

.mail:hover {
  background-color: var(--grey);
  color: var(--light-pink);
}

/* -------------------- FOOTER ------------------ */

/* -------------------- MEDIA QUERIES ------------------ */
@media only screen and (max-width: 1024px) {
  .container {
    width: var(--container-tablet);
  }

  .welcome-section {
    min-height: fit-content;
  }

  header {
    width: 90%;
    transform: translateY(0);
    padding: 4rem 0;
  }
  .carousel-control-prev {
    left: -13%;
  }
  .carousel-control-next {
    right: -13%;
  }

  .projects-container {
    width: 85%;
    gap: 1rem;
  }

  .slide-card {
    grid-template-columns: 1fr;
    gap: 1;
    padding: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .nav-list {
    position: absolute;
    top: 6.5rem;
    right: 5.5%;
    display: none;
    flex-direction: column;
    background-color: var(--grey);
    gap: 0;
  }
  .nav-item {
    text-align: center;
    padding: 1.5rem 2rem;
    transition: var(--transition);
  }

  .nav-item:hover {
    background-color: #ed8d8d;
    color: var(--grey);
  }
  .nav-link {
    color: var(--light-pink);
  }
  .nav-item:hover .nav-link {
    background-color: transparent;
    color: var(--grey);
    font-weight: 600;
  }

  .project-cards .card {
    flex-basis: 30rem;
    flex-shrink: 1;
  }

  .contact-me {
    flex-direction: column;
  }
  .contact-me-content {
    max-width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: var(--container-mobile);
  }

  header p {
    width: 90%;
  }

  h1 {
    font-size: 3rem;
  }

  .drop-down-open,
  .drop-down-close {
    right: 2.5%;
  }

  .nav-list {
    right: 3.5%;
  }

  .projects-container h2,
  .projects-container h4,
  .projects-container p {
    margin-bottom: 1rem;
  }

  .slider-btn {
    width: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 2rem;
  }
  .heading-1 {
    margin-bottom: 1.5rem;
  }

  .additional-projects h2 {
    text-align: center;
  }
}
